<div class="container-fluid mt-5 align-self-center">
  <div class="container text-center font-weight-bold">
    <div>
      <h1 class="font-weight-bolder">Prelegenci</h1>
      <h2>A oto nasi wspaniali speakerzy</h2>
    </div>
  </div>
  <div class="row justify-content-center text-center mt-5">
    <div class="card col-md-2 m-md-3 my-2 p-2" style="width: 18rem;">
      <img alt="..." class="card-img-top" src="/assets/przybyl.jpg">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Piotr Przybył</h5>
        <p class="card-text">Remote Freelance Software Gardener</p>
      </div>
    </div>
    <div class="card col-md-2 m-md-3 my-2 p-2" style="width: 18rem;">
      <img alt="..." class="card-img-top" src="/assets/pilmon.jpg">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Jakub Pilimon</h5>
        <p class="card-text">Principal Technologist</p>
      </div>
    </div>
    <div class="card col-md-2 m-md-3 my-2 p-2" style="width: 18rem;">
      <img alt="..." class="card-img-top" src="/assets/rogalska.jpg">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Sandra Rogalska</h5>
        <p class="card-text">Senior Java Developer</p>
      </div>
    </div>
    <div class="card col-md-2 m-md-3 my-2 p-2" style="width: 18rem;">
      <img alt="..." class="card-img-top" src="/assets/szynkiewicz.jpg">
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Michał Szynkiewicz</h5>
        <p class="card-text">Senior Software Engineer</p>
      </div>
    </div>
  </div>
</div>
