<div class="container p-3">
  <div class="container text-center font-weight-bold">
    <div>
      <h1 class="font-weight-bolder">AGENDA</h1>
      <h2>Zobacz koniecznie</h2>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="row split">
        <div class="col-md-2 colored">08:00</div>
        <div class="col-md-10">REJESTRACJA</div>
      </div>
      <div class="row">
        <div class="col-md-2 colored">09:00</div>
        <div class="col-md-6">Java 14. Nowości godne uwagi.</div>
        <div class="col-md-4 colored">Piotr Przybył</div>
      </div>
      <div class="row split">
        <div class="col-md-2 colored">10:30</div>
        <div class="col-md-10">PRZERWA</div>
      </div>
      <div class="row">
        <div class="col-md-2 colored">11:00</div>
        <div class="col-md-6">Testing - Love, Hate, Love</div>
        <div class="col-md-4 colored">Jakub Pilimon</div>
      </div>
      <div class="row split">
        <div class="col-md-2 colored">12:30</div>
        <div class="col-md-10">PRZERWA I NETWORKING</div>
      </div>
      <div class="row split">
        <div class="col-md-2 colored">13:15</div>
        <div class="col-md-10">LUNCH</div>
      </div>
      <div class="row">
        <div class="col-md-2 colored">14:00</div>
        <div class="col-md-6">Znajdowanie „wąskich gardeł” przy użyciu Jamesa i Elasticsearcha</div>
        <div class="col-md-4 colored">Sandra Rogalska</div>
      </div>
      <div class="row split">
        <div class="col-md-2 colored">16:00</div>
        <div class="col-md-10">PRZERWA</div>
      </div>
      <div class="row">
        <div class="col-md-2 colored">16:30</div>
        <div class="col-md-6">Quarkus - Javowy framework nowej generacji</div>
        <div class="col-md-4 colored">Michał Szynkiewicz</div>
      </div>
      <div class="row split">
        <div class="col-md-2 colored">18:00</div>
        <div class="col-md-10">ZAKOŃCZENIE I NETWORKING</div>
      </div>
      <div class="row split">
        <div class="col-md-2 colored">20:00</div>
        <div class="col-md-10">AFTERPARTY</div>
      </div>
    </div>
  </div>
</div>
